// variables
$placeholder-color: #7c7c7c;
$color-white :#fff;
$color-black: #000;
$color-blue: #27b5dd;
$color-black-transparent: rgba(1, 1, 1, 0.8);
$color-gray: #313131;
$color-background-hover: #0e0e0e;